{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ name }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ name }}" class="btn btn-default">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}